/* Body */
body {
  font-family: "Source Sans Pro", "Source Han Sans", sans-serif !important;
  /* letter-spacing: -0.05rem; */
}

/* Navigation Bar */
.nav-link:hover {
  color: #6022a6 !important;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: white !important;
}

/* carousal Section */
.video-container iframe {
  height: 50vh !important;
}
video {
  height: 50vh !important;
}
.margin-gap-16 {
  margin-right: 16px;
}

/* News And Insights Section */
.card-without-css {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #5b5b67;
}
.card-img-insights {
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.insight-card-image {
  aspect-ratio: 2/1 !important;
  object-fit: cover !important;
}
.zoomin-container img:hover {
  transform: scale(1.05);
}
.color-secondary {
  fill: #6022a6;
  color: #6022a6;
}
.fs-numbers {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
  font-size: 5.5rem;
  font-weight: 300 !important;
  line-height: 6.5rem;
  letter-spacing: -0.5rem;
  color: #222222;
}
.border-orange {
  border-color: orange !important;
}
.text-decoration-none-one {
  text-decoration: none !important;
}
.text-decoration-none-one:hover {
  text-decoration: underline !important;
}

/* Choose a Topic Section */
.round-number {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #6022a6;
  color: black;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
}
.clouds-container div {
  border-radius: 56px;
  height: 44px;
  padding: 10px 13px 10px 12px;
  margin: 0px 12px 12px 0px;
  width: auto;
  background-color: #fff;
  color: #222222;
  border: 1px solid #c7c8cf;
}

/* Categories Section */
.categories-slide-button {
  border-radius: 50%;
  background-color: #6022a6;
  color: #ffffff;
  border: none;
  width: 40px;
  height: 40px;
}
.categories-slide-button.disabled, .categories-relative-button.disabled {
    color: #c7c8cf !important;
    background-color: #b4b4bf !important;
}
.cards-one {
  margin-right: 1rem;
}
.card-one-img-container {
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.card-one-img-container img {
  aspect-ratio: 1 !important;
  object-fit: cover;
  border-radius: 10px;
  padding: 2px;
}
@media (max-width: 768px) {
    .card-one-img-container img {
        width: 255px;
        height: 255px;
    }
}
@media (min-width: 768px) {
    .card-one-img-container img {
        width: 336px;
        height: 336px;
    }
}
.card-one-img-container img:hover {
  padding: 0;
  border: 2px solid #6022a6;
}

/* Docuseries Section */
.dp-pic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.bg-2mins {
  backdrop-filter: brightness(0.4);
  border-radius: 10px;
}

/* Utilities */
.text-bold {
  font-weight: bold !important;
}
.text-bold i {
  font-weight: bold !important;
}
.text-bold i::before {
  font-weight: bold !important;
}
.bg-first {
  background-color: #6022a6 !important;
}
.bg-third {
  background-color: #5b5b67;
}
.form-control-border-focus:focus {
  border-color: #6022a6 !important;
  border-right: 0 !important;
}
.bg-fourth {
  background-color: #f4f1f8;
}
.bg-fifth {
  background-color: #fbf9fd;
}
.zoomin-container {
  overflow: hidden;
}
.zoomin-container img {
  object-fit: cover;
  overflow: hidden;
  transition: transform 0.35s ease-in-out;
}
.border-secondary-one {
  border: 2px solid #6022a6 !important;
}
.bg-secondary-one {
    background-color: #6022a6 !important;
}
.h-specific {
  height: 150px;
  margin-bottom: 20px;
}
.side-paddings {
  padding-right: 24px !important;
  padding-left: 24px !important;
}
.text-animate-fade {
    transition: all 0.3s ease-in-out;
}
.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    ::-webkit-scrollbar {
        display: none;
    }
}
.bg-sixth {
  background-color: #420588;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(https://api.iconify.design/akar-icons/chevron-down.svg) no-repeat center / contain;
	background-size: 20px;
	background-position: calc(100% - 10px);
}
@media (max-width: 768px) {
  .side-paddings {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .fs-small-lg {
    font-size: smaller !important;
  }
  .fw-small {
    font-size: small !important;
  }
  .fs-numbers {
    font-size: 3rem !important;
    line-height: 4rem !important;
    letter-spacing: -0.2rem !important;
  }
  .footer-buttons a {
      width: 50% !important;
  }
  .insight-card-image {
    aspect-ratio: 1/1 !important;
    object-fit: cover !important;
  }
}
@media (min-width: 768px) {
    .w-md-auto {
        width: auto !important;
    }
}
